body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #0a192f;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #0a192f;
  color: white;
}

.navbar a {
  margin-left: 25px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 60px;
  background: #f8fbff;
}

.hero-text {
  max-width: 500px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  color: #555;
}

button {
  margin-top: 20px;
  padding: 10px 22px;
  background: #0a192f;
  color: white;
  border: none;
  cursor: pointer;
}

/* SECTION */
.section {
  padding: 80px 60px;
}

.light {
  background: #f8fbff;
}

/* GRID */
.grid {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.box {
  flex: 1;
  border: 1px solid #eee;
  padding: 25px;
  transition: 0.3s;
}

.box:hover {
  border-color: #0a192f;
}

/* WORK */
.work {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.work img {
  width: 350px;
  border-radius: 8px;
}

/* FOOTER */
footer {
  background: #0a192f;
  color: white;
  text-align: center;
  padding: 20px;
}
